* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  font-family: "Sour Gummy", sans-serif;
  font-size: 2rem;
  color: rgb(249, 245, 241);
  height: 100%;
}

.wrap {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}

.canvas-wrap {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

canvas {
  display: block;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  font-size: 7rem;
  color: rgba(13, 12, 13, 0.9450980392);
  text-shadow: 0px -1px 1px rgb(253, 246, 234);
  list-style: none;
}

.content {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}
.content > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
}

.hint-wrap {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.hint-wrap > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hint-accent,
.mistakes {
  font-size: 2.5rem;
  font-weight: bold;
}

.hint-accent,
.style-count {
  color: #fa962b;
}

.keyboard {
  background-color: rgba(255, 255, 255, 0.0235294118);
  max-width: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 1px rgba(47, 39, 96, 0.6784313725), -1px -1px 1px rgba(78, 67, 150, 0.6784313725);
          box-shadow: 5px 5px 1px rgba(47, 39, 96, 0.6784313725), -1px -1px 1px rgba(78, 67, 150, 0.6784313725);
}
.keyboard .key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: rgb(249, 245, 241);
  text-shadow: 2px 1px rgb(84, 84, 90);
  width: 46px;
  height: 46px;
  background-color: rgba(20, 20, 20, 0.7843137255);
  border: 1px solid rgba(206, 155, 4, 0.348);
  -webkit-box-shadow: 5px 5px rgba(22, 12, 3, 0.9098039216);
          box-shadow: 5px 5px rgba(22, 12, 3, 0.9098039216);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: border 0.1s ease, text-shadow 0.1s ease, color 0.1s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, text-shadow 0.1s ease, color 0.1s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, transform 0.2s ease, box-shadow 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
  transition: border 0.1s ease, transform 0.2s ease, box-shadow 0.1s ease, text-shadow 0.1s ease, color 0.1s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.1s ease;
}
.keyboard .key:hover {
  color: #fa962b;
  border: 1px solid #fa962b;
}
.keyboard .key:active {
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  text-shadow: 2px 1px rgb(56, 56, 58);
  -webkit-box-shadow: 2px 2px rgba(22, 12, 3, 0.9098039216);
          box-shadow: 2px 2px rgba(22, 12, 3, 0.9098039216);
}
.keyboard .key-inactive {
  pointer-events: none;
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  text-shadow: 2px 1px rgba(78, 67, 150, 0.6784313725);
  -webkit-box-shadow: 2px 2px rgba(78, 67, 150, 0.6784313725);
          box-shadow: 2px 2px rgba(78, 67, 150, 0.6784313725);
  color: #fa962b;
  border: 1px solid #fa962b;
}

.modal-wrap {
  position: fixed;
  inset: 0;
  background-color: rgba(25, 24, 24, 0.7098039216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  background-color: rgba(56, 56, 58, 0.553);
  border: 1px solid #40377b;
  padding: 10px;
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
.modal .modal-result {
  font-size: 3rem;
  color: #fa962b;
}
.modal .modal-btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(249, 245, 241);
  text-shadow: 2px 1px rgb(40, 40, 44);
  border-radius: 50px;
  background-color: #fbab54;
  -webkit-box-shadow: 4px 4px 1px #9e5a11;
          box-shadow: 4px 4px 1px #9e5a11;
  padding: 10px;
  -webkit-transition: background-color 0.2s ease, text-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.2s ease, text-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease, text-shadow 0.1s ease;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease, text-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
}
.modal .modal-btn:hover {
  background-color: #fa962b;
}
.modal .modal-btn:active {
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 2px 2px 1px #9e5a11;
          box-shadow: 2px 2px 1px #9e5a11;
  background-color: rgba(250, 144, 30, 0.7450980392);
}

.modal-visible {
  opacity: 1;
  visibility: visible;
}
.modal-visible .modal {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 840px) {
  .wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  ul {
    font-size: 5.5rem;
  }
}/*# sourceMappingURL=style.css.map */