* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 2rem;
  color: rgb(249, 245, 241);
  height: 100%;
}

.wrap {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  transform: translateY(15%);
}

.canvas-wrap {
  flex-basis: 30%;
}

canvas {
  display: block;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 7rem;
  color: #0d0c0df1;
  text-shadow: 0px -1px 1px rgb(253, 246, 234);
  list-style: none;
}

.content {
  flex-basis: 55%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;

  & > * {
    flex-basis: 50%;
    padding: 10px;
  }
}

.hint-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & > * {
    flex-basis: 50%;
  }
}

.hint-accent,
.mistakes {
  font-size: 2.5rem;
  font-weight: bold;
}

.hint-accent,
.style-count {
  color: #fa962b;
}

.keyboard {
  background-color: #ffffff06;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 1px #2f2760ad, -1px -1px 1px #4e4396ad;

  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(249, 245, 241);
    text-shadow: 2px 1px rgb(84, 84, 90);
    width: 46px;
    height: 46px;
    background-color: #141414c8;
    border: 1px solid rgba(206, 155, 4, 0.348);
    box-shadow: 5px 5px #160c03e8;
    border-radius: 50px;
    cursor: pointer;
    transition: border 0.1s ease, transform 0.2s ease, box-shadow 0.1s ease,
      text-shadow 0.1s ease, color 0.1s ease;

    &:hover {
      color: #fa962b;
      border: 1px solid #fa962b;
    }

    &:active {
      transform: translate(3px, 3px);
      text-shadow: 2px 1px rgb(56, 56, 58);
      box-shadow: 2px 2px #160c03e8;
    }
  }

  .key-inactive {
    pointer-events: none;
    transform: translate(3px, 3px);
    text-shadow: 2px 1px #4e4396ad;
    box-shadow: 2px 2px #4e4396ad;
    color: #fa962b;
    border: 1px solid #fa962b;
  }
}

.modal-wrap {
  position: fixed;
  inset: 0;
  background-color: #191818b5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: rgba(56, 56, 58, 0.553);
  border: 1px solid #40377b;
  padding: 10px;
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  transform: scale(0.7);
  transition: transform 0.1s ease;

  .modal-result {
    font-size: 3rem;
    color: #fa962b;
  }

  .modal-btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(249, 245, 241);
    text-shadow: 2px 1px rgb(40, 40, 44);
    border-radius: 50px;
    background-color: #fbab54;
    box-shadow: 4px 4px 1px #9e5a11;
    padding: 10px;
    transition: background-color 0.2s ease, transform 0.1s ease,
      box-shadow 0.1s ease, text-shadow 0.1s ease;

    &:hover {
      background-color: #fa962b;
    }

    &:active {
      transform: translate(3px, 3px);
      box-shadow: 2px 2px 1px #9e5a11;
      background-color: #fa901ebe;
    }
  }
}

.modal-visible {
  opacity: 1;
  visibility: visible;

  .modal {
    transform: scale(1);
  }
}

@media screen and (max-width: 840px) {
  .wrap {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    transform: translateY(0);
  }

  .content {
    flex-basis: 100%;
  }
  ul {
    font-size: 5.5rem;
  }
}
